# Ignore Everything
*

# Config Files
!.gitignore

# Powershell Files
!powershell.config.json
!Microsoft.PowerShell_*.ps1
!Microsoft.VSCode_profile.ps1

# DotPosh
!dotposh/
!dotposh/**

dotposh/**/Sandboxes.json
